
* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;

}

html body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    font-size: 2.5vw;
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 7.5vw;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(3);
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgb(61, 60, 60);
    color:white;
    
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    display: inline-block;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer p {
    
}


